* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #f5f7fa;
  color: #333;
  font-family: "Roboto", sans-serif;
  height: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1e5dbe;
  padding: 1.5rem;
  color: whitesmoke;
}
.header-logo-span {
  display: block;
  font-weight: bold;
}

.header-button-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header-button-container img {
  width: 20px;
  height: 20px;
}

.header-button-container > button {
  height: 40px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 16px;
  background-color: #1450af;
  border: none;
  border-radius: 20px;
  color: whitesmoke;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}

.header-address-active {
  border-bottom: 2px solid #5591ff;
  padding-bottom: 10px;
}

.title {
  font-weight: 100;
}

.button-with-avatar {
  display: flex;
  align-items: center;
  gap: 5px;
}

.button-with-avatar > img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
}

.button-with-power-logo {
  margin-left: 15px;
}
