* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #f5f7fa;
  color: #333;
  font-family: "Roboto", sans-serif;
  height: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1e5dbe;
  padding: 1.5rem;
  color: whitesmoke;
}
.header-logo-span {
  display: block;
  font-weight: bold;
}

.header-button-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header-button-container img {
  width: 20px;
  height: 20px;
}

.header-button-container > button {
  height: 40px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 16px;
  background-color: #1450af;
  border: none;
  border-radius: 20px;
  color: whitesmoke;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}

.header-address-active {
  border-bottom: 2px solid #5591ff;
  padding-bottom: 10px;
}

.title {
  font-weight: 100;
}

.button-with-avatar {
  display: flex;
  align-items: center;
  gap: 5px;
}

.button-with-avatar > img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
}

.button-with-power-logo {
  margin-left: 15px;
}

main {
  width: 90%;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}

input[type="radio"] {
  display: none;
}

.tabs {
  display: flex;
  gap: 40px;
  margin-bottom: 10px;
  padding: 15px;
}

.tab {
  cursor: pointer;
  padding-bottom: 5px;
  font-weight: bold;
  color: #b3b3b3;
  border-bottom: 2px solid transparent;
  transition: 0.3s;
}

aside:has(#basic:checked) .tabs label[for="basic"],
aside:has(#advanced:checked) .tabs label[for="advanced"] {
  color: #000;
  border-bottom-color: #1e5dbe;
  transition: 1s;
}

#basic:checked ~ .basic-content {
  display: inline-block;
  transition: 0.5s;
}

#advanced:checked ~ .advanced-content {
  display: inline-block;
  transition: 0.5s;
}
.content {
  display: none;
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
}
.content-inside {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content-inside > input {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' fill='%23cbd2dd' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.742 10.344h-.806l-.286-.276a6.471 6.471 0 001.486-4.098A6.565 6.565 0 005.565.965 6.565 6.565 0 00.964 5.565a6.565 6.565 0 006.6 6.5c1.523 0 2.935-.5 4.098-1.486l.276.286v.806l4.25 4.244 1.27-1.27-4.244-4.25zm-5.877 0A5.134 5.134 0 01.43 5.148a5.134 5.134 0 015.435-5.435 5.134 5.134 0 015.434 5.434 5.134 5.134 0 01-5.434 5.435z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 12px center;
  padding: 10px;
  color: #738392;
  border: 1px solid #c3c9cf;
  border-radius: 5px;
  padding-left: 35px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.18);
}

.search-btn {
  padding: 10px;
  border: none;
  color: white;
  background-color: #5591ff;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
  border-radius: 5px;
}

.grid-list-option {
  display: flex;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form input,
.form select {
  width: 100%;
  padding: 10px;
  color: #738392;
  border: 1px solid #c3c9cf;
  border-radius: 5px;
  box-sizing: border-box;
}

.employee-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  transition: 0.5s;
}

.nothing-found-text {
  max-width: 300px;
  text-align: center;
}

.no-employees {
  display: none;
}

#no-results:has(checked) section .employee-section {
  display: none;
}

#no-results:checked ~ .no-employees {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  padding: 2em;
}

.hidden {
  display: none;
  margin-bottom: 20px;
}
.tags img {
  width: 20px;
  height: 20px;
}

.no-employees > img {
  width: 50%;
}
#no-results:checked ~ .top-section-conditional {
  display: inline;
  margin: 0 auto;
  background-color: #ffffff;
}

.top-section-conditional {
  display: none;
}

.conditional-section img {
  width: 20px;
  height: 20px;
}

.top-section {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.employee-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  transition: 0.5s;
}

.nothing-found-text {
  max-width: 300px;
  text-align: center;
}

.no-employees {
  display: none;
}

#no-results:has(checked) section .employee-section {
  display: none;
}

#no-results:checked ~ .no-employees {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  padding: 2em;
}

.hidden {
  display: none;
  margin-bottom: 20px;
}
.tags img {
  width: 20px;
  height: 20px;
}

.no-employees > img {
  width: 50%;
}
#no-results:checked ~ .top-section-conditional {
  display: inline;
  margin: 0 auto;
  background-color: #ffffff;
}

.top-section-conditional {
  display: none;
}

.paragraph-smaller {
  color: rgb(233, 71, 71);
  text-decoration: underline;
}

.hidden-main-nav {
  display: none;
  flex-direction: column;
  background-color: white;
  left: -100%;
  width: 280px;
  position: absolute;
  height: 100%;
  padding: 20px;
  z-index: 11;
}
.hidden-main-nav-inner-bottom-button {
  margin: auto;
}
.hidden-main-nav img {
  width: 60px;
}
.hidden-main-nav-inner-top p:nth-child(1) {
  margin-bottom: 10px;
}
.hidden-main-nav-inner-top {
  padding: 30px;
  border-bottom: 1px solid rgb(194, 184, 184);
  display: flex;
  align-items: center;
  gap: 15px;
}
.hidden-main-button img {
  width: 20px;
}

.hidden-main-button {
  height: 40px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 16px;
  background-color: #1450af;
  border: none;
  border-radius: 20px;
  color: whitesmoke;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}

.hidden-main-nav-inner-bottom {
  padding: 30px;
  border-bottom: 1px solid rgb(194, 184, 184);
}

section:has(#list:checked) .employee-section {
  display: flex;
  flex-direction: column;
  gap: 0;
  transition: 1s;
}

section:has(#list:checked) .employee-section > .card {
  display: flex;
  flex-direction: row;
  font-size: 0.8em;
  border-bottom: 1px solid #eee;
  text-align: left;
  height: 100px;
}
section:has(#list:checked) .employee-section > .card > .tags {
  padding-top: 0;
  border: none;
}

section:has(#list:checked) .employee-section > .card > img {
  width: 80px;
  height: 80px;
}

section:has(#list:checked) .conditional-section {
  display: flex;
}

section:has(#list:checked) .employee-section > .card > .tags span:nth-child(1) {
  margin-right: 130px;
}

#no-results:checked ~ section {
  display: none;
}

#no-results:checked ~ .hidden {
  display: flex;
}

.conditional-section {
  display: none;
  justify-content: space-around;
  margin-top: 20px;
  align-items: center;
  background-color: #ffffff;
  height: 45px;
}
.conditional-section div {
  display: flex;
  align-items: center;
  gap: 4px;
}
.card {
  background-color: #ffffff;
  text-align: center;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.tags {
  border-top: 1px solid #f5f5f8;
  padding-top: 20px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.tags-container {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.tags div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.tags span:nth-child(1) {
  margin-right: 35px;
}

.card > img {
  width: 120px;
}

.view-toggle label svg {
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: 0.2s ease;
}
.view-toggle label:nth-child(2) svg {
  margin-left: 10px;
}

.view-toggle label:hover svg {
  transform: scale(1.15);
}

.mobile-version {
  display: none;
}

.mobile-input-search {
  display: none;
}

.phone-skype {
  display: flex;
  align-items: center;
  gap: 5px;
}

.phone-skype > div {
  flex: 1;
}

.phone-skype > div > label {
  display: block;
}

.overlay {
  display: none;
  height: 100%;
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  z-index: 9;
  opacity: 0;
}

.hamburger-menu {
  display: none;
  flex-direction: column;
  gap: 5px;
  z-index: 11;
  width: max-content;
  position: absolute;
  right: 10px;
  top: 30px;
}

.hamburger-menu input:checked {
  opacity: 0;
  width: 0;
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: "";
  width: 25px;
  height: 4px;
  background-color: white;
  transition: opacity 0.3s, width 0.3s;
  transform-origin: left center;
  margin-right: 15px;
}

.hamburger-menu:has(input:checked) ~ .hidden-main-nav {
  display: flex;
  left: 0;
}

.hamburger-menu:has(input:checked) ~ main section .employee-section .overlay {
  display: block;
  opacity: 1;
}
.hamburger-menu:has(input:checked) ~ main section .no-employees .overlay {
  display: block;
  opacity: 1;
}

.hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: calc((2px * 3)+ (5px * 2)) * 1.41421356237;
  translate: 0 calc(4 / -2);
}

.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: calc((2px * 3)+ (5px * 2)) * 1.41421356237;
  translate: 0 calc(4 / 2);
}

.hamburger-menu > input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

@media (width <= 800px) {
  main {
    grid-template-columns: 1fr;
    width: 100%;
    padding: 0 10px;
    font-size: 0.9em;
  }

  .employee-section {
    width: 70%;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
  }

  .top-section {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .conditional-section {
    width: 70%;
    margin: 0 auto;
  }

  .no-employees {
    width: 70%;
    margin: 0 auto;
  }
  aside {
    width: 70%;
    margin: 0 auto;
  }
}

@media (width <= 600px) {
  .no-employees {
    width: 100%;
    font-size: 1.2em;
  }

  .employee-section {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    width: 90%;
  }

  .conditional-section {
    display: none !important;
  }

  .hamburger-menu {
    display: flex;
  }

  .employee-section img {
    width: 70px;
  }
  .header-address-active {
    display: none;
  }
  .header-button-container {
    display: none;
  }
  i.fa-door-closed {
    display: none;
  }

  .tags span:nth-child(2) {
    display: none;
  }

  .view-toggle {
    display: none;
  }

  .card {
    display: none;
  }

  .mobile-version {
    display: block;
    padding: 10px;
    border: 1px solid rgb(211, 204, 204);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  }

  .tags-inner span {
    margin-right: 25px;
  }

  .tags-inner img {
    width: 25px;
  }
  .tags-inner {
    padding: 10px;
    border-top: 1px solid #c7c7c7;
    text-align: center;
    color: #5591ff;
  }
  .mobile-version-inner {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 10px;
  }
  .mobile-input-search {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' fill='%23cbd2dd' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.742 10.344h-.806l-.286-.276a6.471 6.471 0 001.486-4.098A6.565 6.565 0 005.565.965 6.565 6.565 0 00.964 5.565a6.565 6.565 0 006.6 6.5c1.523 0 2.935-.5 4.098-1.486l.276.286v.806l4.25 4.244 1.27-1.27-4.244-4.25zm-5.877 0A5.134 5.134 0 01.43 5.148a5.134 5.134 0 015.435-5.435 5.134 5.134 0 015.434 5.434 5.134 5.134 0 01-5.434 5.435z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 120px center;
    display: block;
    text-align: center;
    width: 100%;
    padding: 15px;
    color: #6f88b6;
    background-color: #0a41a5;
    border: none;
    font-weight: 500;
  }

  .card img {
    display: none;
  }
  .card h3 {
    display: none;
  }
  .card .tags {
    display: none;
  }

  .employee-section.card {
    display: none;
  }

  input::placeholder {
    color: #6f88b6;
    font-weight: bold;
  }
  aside {
    display: none;
  }
}

@media (width <= 375px) {
  .mobile-input-search {
    background-position: 100px center;
  }
}
