.button-with-avatar {
  display: flex;
  align-items: center;
  gap: $gap-for-all;

  img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
  }
}

.button-with-power-logo {
  margin-left: 15px;
}

.search-btn {
  margin-top: $margin-default;
  @include button-default;
}

.permissions-user-layout button {
  padding: $padding-default;
  border: none;
  font-family: $font-primary;
  cursor: pointer;
  width: 80px;
}

.employee-section-flex button {
  @include button-default;
  padding: $padding-default 20px;
}

.hidden-main-button {
  @include header-button-mixin;
}

.copy-link-btn,
.edit-btn,
.cancel-btn {
  padding: 8px 15px;
  display: flex;
  align-items: center;
  gap: $gap-for-all;

  img {
    width: 30px;
  }
}

.copy-link-btn {
  background-color: #e5e5ec;
  border: none;
  border-radius: 15px;
  padding: 8px 15px;
  color: #707172;
}

button {
  transition: $transition-default;

  &:hover {
    transform: $transition-scale;
  }
}

.functional-buttons button {
  border: none;
  cursor: pointer;
}

.functional-buttons button svg {
  width: $header-button-size;
  height: $header-button-size;
}

.toggle {
  cursor: pointer;
  color: #5591ff;
  margin-top: $margin-default;
  font-weight: bold;
  padding: $padding-default;
}
.button-section {
  @include flex-space-between;
  margin-bottom: 10px;
}
