.employee-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: $margin-default;
  box-shadow: $light-shadow;
  transition: 0.5s;
  text-align: center;
}

.employee-cards {
  height: 300px;
  background-color: white;
  box-shadow: $light-shadow;
  @include flex-col;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  transition: $transition-default;

  &:hover {
    transform: scale(1.03);
  }
}

.list-employee-section {
  display: flex !important;
  flex-direction: column !important;
  gap: 0;
  transition: 1s;
}

.employee-cards.list {
  height: auto;
  flex-direction: row;
  justify-content: space-between;
  padding: $padding-default;
  align-items: center;
}
div div.employee-cards {
  @include flex-col;
  gap: 10px;
}

.employee-cards-inner-flex {
  @include flex-center;
  gap: $margin-default;
  border-top: 1px solid #adadb1;
  padding-top: $padding-default;
}

.employee-cards:hover {
  transform: scale(1.03);
}

.department {
  @include flex-center-only;
  gap: $gap-for-all;

  img {
    width: $header-button-size;
  }
}

.functional-buttons {
  button {
    border: none;
    cursor: pointer;

    svg {
      width: $header-button-size;
      height: $header-button-size;
      transition: $transition-default;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}

.clicked {
  stroke: #0a41a5;
}

.conditional-section img {
  width: $header-button-size;
  height: $header-button-size;
}

.conditional-section {
  @include flex-center-only;
  padding: $padding-default 5px;
  background-color: #ffffff;
  margin-bottom: $margin-default;
  justify-content: space-between;
}

.conditional-section div {
  @include flex-center-only;
  gap: $margin-default;
}

.employee-section-flex {
  @include flex-col;
  align-items: center;
  gap: $gap-for-all;
}
.employee-section-flex img {
  width: 30%;
}

.employee-section-flex h2,
p {
  opacity: 0.75;
}

.employee-section-flex button:hover {
  transform: $transition-scale;
}
