header {
  nav {
    @include flex-center;
    justify-content: space-between;
    background-color: $header-bg;
    padding: 1.5rem;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 40;
  }

  .header-logo-span {
    display: block;
    font-weight: bold;
  }

  .header-active-page {
    border-bottom: $header-active;
  }

  .header-button-container {
    @include flex-center;
    gap: $margin-default;
  }
  .header-button-container img {
    width: $header-button-size;
    height: $header-button-size;
  }

  .header-button-container > button {
    @include header-button-mixin;
  }

  .header-address-active {
    padding-bottom: $padding-default;
    display: flex;
    gap: $margin-default;
  }
}
