* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background: $light-bg;
  color: #333;
  font-family: $font-primary;
  height: 100%;
}

a {
  text-decoration: none;
  color: #363535;
}

main {
  width: 90%;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 35px;
  padding-top: 100px;
}

.permissions-page {
  padding-top: 100px;
}

.error-section {
  @include flex-center-only;
  padding: 40px 0;
}

.spinner {
  width: 24px;
  height: 24px;
  border: 3px solid #ddd;
  border-top-color: $indicated-bg;
  border-radius: 50%;
  animation: spin 0.7s linear infinite;
}
.blue {
  color: $header-bg;
}

.content-inside {
  @include flex-col;
  gap: 10px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.paragraph-smaller {
  color: rgb(233, 71, 71);
  text-decoration: underline;
  cursor: pointer;
}

.avatar {
  width: 100px;
  height: 100px;
}

.hidden-message {
  color: rgb(230, 72, 72);
}

.error-wrapper {
  @include flex-col;
  align-items: center;
  gap: 15px;
  text-align: center;

  img {
    width: 350px;
    max-width: 80%;
  }

  button {
    padding: $padding-default 20px;
    background-color: $btn-blue;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
}
.conditional-section.hidden {
  display: none;
  margin-bottom: 20px;
}
