$font-primary: "Roboto", sans-serif;
$header-bg: #1e5dbe;
$btn-blue: #5591ff;
$header-btn-bg: #1450af;
$text-gray: #738392;
$light-bg: #f5f7fa;
$light-shadow: 0 2px 8px rgba(0, 0, 0, 0.18);
$header-active: 2px solid #3498db;
$header-button-size: 20px;
$shadow-light: 0 2px 8px rgba(0, 0, 0, 0.18);
$radius-sm: 5px;
$transition-default: transform 0.3s ease;
$blue-brand: #5591ff;
$hamburger-height: 4px;
$hamburger-width: 25px;
$hamburger-gap: 5px;
$square-root: 1.41421356237;
