.user-main-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  p {
    color: #a4a7ac;
  }

  button {
    cursor: pointer;
    transition: $transition-default;
  }

  .go-back {
    width: 35px;
    height: 35px;
    position: absolute;
    left: 5%;
    background-color: #e4e4e9;
    border-radius: 50%;
    @include flex-center;
    cursor: pointer;
    transition: $transition-default, opacity 0.3s ease;

    img {
      width: 25px;
    }

    &:hover {
      transform: scale(1.09);
      opacity: 0.9;
    }
  }
}

.user-avatar {
  width: 200px;
  position: relative;
}

.remote-container-user {
  position: relative;
}

.remote-work-logo-bg {
  background-color: #914bb9;
  width: $header-button-size;
  height: $header-button-size;
  border-radius: 50%;
  @include flex-center;
  border: 2px solid white;
}

.remote-work-logo {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 20px;
  left: 0;
  z-index: 1;
}

.user-details {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 110px 20px;

  .info-left {
    display: flex;
    align-items: center;
    gap: $margin-default;

    span {
      opacity: 0.9;
    }
  }

  .info-right {
    margin-right: 30%;
    text-align: left;
  }

  .info-row {
    display: flex;
    justify-content: space-between;
    padding: $padding-default;

    img {
      width: $image-size;
      height: $image-size;
      opacity: 0.75;
    }
  }

  .container-of-user-info {
    opacity: 0.75;

    hr {
      width: 70%;
      border-color: #738392;
    }
  }
}

.edit-input {
  padding: 5px;
}

.user-main-layout .edit-input {
  display: flex;
  flex-direction: row;
}

.edit-controls {
  display: flex;
  gap: $gap-for-all;

  button {
    width: 100px;
  }
}

.edit-name-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.information-title {
  margin: $margin-default;
}

.missing-info {
  color: rgb(211, 51, 51);
  font-size: 0.8em;
  margin-bottom: -$margin-default;
}

@media (max-width: 900px) {
  .user-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .container-of-user-info {
    width: 100%;
    margin: 0 auto;

    hr {
      width: 100%;
    }
  }

  .info-row {
    justify-content: space-between;
  }

  .info-right {
    margin: 0;
  }
}

.blue-text {
  color: #5591ff;
}

.manager-link {
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
